@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap");
* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  font-family: "Fira Code", sans-serif, monospace;
}

:root {
    --roxo-claro: #5e17eb;
    --roxo-escuro: #3b0f94;
    --bg-ft: #f1f1f1;
    --cinza-escuro: #555555;
  }
  
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
  }
  
  nav > h1 {
    color: var(--roxo-claro);
  }
  
  nav > spam {
    color: var(--roxo-escuro);
  }
  
  nav > a {
    color: var(--roxo-escuro);
    font-weight: 600;
    text-decoration: none;
  }

  nav >a:hover {
    color: var(--roxo-claro);
 }

body {
  background-color: var(--bg-ft);
  height: 100%;
}

.container-busca {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 100px;
}

section{
  /* Empurrar o mapa */
  padding-bottom:90px;
}

p {
 color: var(--roxo-escuro);
 font-family: 'Fira Code';
 font-style: normal;
 font-weight: 600;
 font-size: 25px;
 line-height: 33px;
}
.container-map{
  display: flex;
  flex-direction: column;
  gap:100px;
}

/* Cor do estado de busca */

/* select{
  background-color: var(--cinza-escuro);
  border-radius: 35px;
  border: 3px solid var(--roxo-escuro);
  width: 400px;
  height: 60px;
  text-align: center;
  color: var(--roxo-escuro) ;
  padding: 6px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.5s;
}

select:hover {
  background-color:var(--roxo-escuro) ;
  color: white;
  font-weight: 600;
} */



select{
  margin: 0.6rem 0;
  padding: 0.8rem 1.2rem;
  border: none;
  border-radius: 11px;
  box-shadow: 1px 2px 6px var(--roxo-escuro);
  font-size: 0.8rem;
  background-color: var(--bg-ft);
  scrollbar-color: var(--roxo-claro);
}
 
#caixa{
  color: var(--roxo-escuro);
}

select:hover {
  color: #3b0f94;
  background-color: var(--bg-ft);
  box-shadow: 2px 4px 2px var(--roxo-escuro);
  scrollbar-color: var(--roxo-claro);
}
select:focus-visible {
  outline: 1px solid #6c63ff;
}
#caixa::-webkit-scrollbar{
  width: 10px;
  height: 10px;
}
#caixa::-webkit-scrollbar-track{
  background: var(--cinza-escuro);
  /* padding: 0px; */
  
}
#caixa::-webkit-scrollbar-thumb{
  border-radius: 500px; 
  border: 30px solid var(--roxo-escuro);
}

/* Animations */
@keyframes fromTop{
  from{
      opacity: 0;
      transform: translateY(-30px);
  }

  to{
      opacity: 1;
      transform: translateY(0);
  }
}

@keyframes toTop{
  from{
      opacity: 0;
      transform: translateX(30px);
  }

  to{
      opacity: 1;
      transform: translateX(0);
  }
}

@keyframes toRight{
  from{
      opacity: 0;
      transform: translateX(-50px);
  }

  to{
      opacity: 1;
      transform: translateX(0);
  }
}

@keyframes toLeft{
  from{
      opacity: 0;
      transform: translateX(40px);
  }

  to{
      opacity: 1;
      transform: translateX(0);
  }
}



select{
  animation: toLeft .9s backwards;
  }

img{
  animation: toRight .9s backwards;
  }

h2,p{
animation: toTop .9s backwards;
}

footer{
animation: fromTop .9s backwards;
}

nav{
animation: fromTop .9s backwards;
}